/* reset */
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

:root {
    --main-color: #EAE8FE;
    --point-color: #6327FE;
}

* {
    font-family: 'Noto Sans KR', sans-serif;
    font-style: normal;
    font-weight: 500;
}

body {
    background-color: var(--main-color);
}

p,
h1,
h2 {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

button {
    border: none;
    background: #fff;
    cursor: pointer;
}
*:focus {
    outline-color: var(--point-color);
}

/* 접근성을 위한 숨김처리 */
.a11y-hidden {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}



/* 자판기 아이템 */
.vm-item {
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
    padding: 10px 12px;
    position: relative;
}

.selected {
    box-shadow: 0 0 0 3px var(--point-color);
}

.vm-item .img,
.vm-item .name,
.vm-item .price {
    display: block;
}

.vm-item .img {
    margin: auto;
}

.vm-item .name {
    font-size: 9px;
    margin: 6px 0;
}

.vm-item .price {
    background-color: var(--point-color);
    border-radius: 50px;
    padding: 5px 0;
    color: #fff;
    
    font-size: 12px;
}

.sold-out {
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.sold-out span {
    display: inline-block;
    color: #eae8fe;
    border: 6px double #eae8fe;
    padding: 0 8px;
    transform: rotate(-20deg) translate(-15px, 40px);
}

/* 구매 목록 중 하나 */
.vm-item-li {
    width: auto;
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 5px;
    background-color: #fff;
}

.vm-item-li .img {
    width: 18px;
    height: 33px;
    margin-right: 10px;
}

.vm-item-li .name {
    font-size: 9px;
}

.vm-item-li .count {
    margin-left: auto;
    width: 30px;
    height: 30px;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    text-align: center;

    position: relative;
}

.vm-item-li .count span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
}

/* 잔액, 소지금 안내 */
.info {
    background-color: var(--main-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    padding: 6px 10px;
}

.info .title {
    font-size: 14px;
}

.info .title::after {
    content: " :";
}

.info .cash {
    font-size: 14px;
}

/* 버튼 */
.btn {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    border-radius: 5px;

    background-color: transparent;
    padding: 6px auto 7px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-style: none;
    
    font-size: 13px;

}


/* 전체 구매 목록 */
.vm-item-ul {
    padding: 12px 6px 12px 12px;
    overflow-y: scroll;

    background-color: var(--main-color);
    border: 1px solid #BDBDBD;
    border-radius: 5px;
}
/* 비표준 스크롤 디자인 */
.vm-item-ul::-webkit-scrollbar {
    width: 10px;
}
.vm-item-ul::-webkit-scrollbar-track {
    background-color: var(--main-color);
}
.vm-item-ul::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background-color: #fff;
    border: 3px solid transparent;
        background-clip: padding-box;
}


.vm-item-li {
    margin-bottom: 6px;
}

.vm-item-li:last-child {
    margin-bottom: 0;
}