/* layout */
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main {
    display: grid;
    grid-template-areas:
        "a b"
        "a c";
    grid-template-rows: 1fr 9fr;
        gap: 20px;
}

.section-a {
    grid-area: a;
    background-color: gold;
}

.section-b {
    grid-area: b;
    background-color: salmon;
}

.section-c {
    grid-area: c;
    background-color: seagreen;
}
@media (max-width: 360px) {
    main {
        display: grid;
        grid-template-areas:
            "a"
            "b"
            "c";
        grid-template-rows: 9fr 1fr 9fr;
        gap: 20px;
    }
}

/* style  */
.wrapper {
    width: 750px;
    margin: 0 auto 170px;
}

header {
    margin-bottom: 67px;
}

header .logo {
    display: block;
    margin: auto;
}

@media (max-width: 360px) {
    .wrapper {
        width: auto;
        min-width: 306px;
        margin: 0 27px 27px;
    }

    header .logo {
        width: 165px;
    }
}