/* layout */
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 750px;
        margin: 0 auto 170px;
}

main {
    display: grid;
    grid-template-areas:
        "a b"
        "a c";
    grid-template-rows: 50px auto;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
}
.section-a,
.section-b,
.section-c {
    min-width: 360px;
        box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
}

.section-a {
    grid-area: a;
        padding: 31px 27px 28px;
}

.section-b {
    grid-area: b;
        padding: 9px 27px;
}

.section-c {
    grid-area: c;
    padding: 25px 27px;
}


/* style  */
header {
    margin-bottom: 67px;
}
h1 {
    text-align: center;
}

h1 img {
    /* width: 386px; */
    max-width: calc(100% - (97px * 2));
}

/* section-a 자판기 */
.section-a .sale-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
    margin-bottom: 20px;
}
/* section-a 계산하기 */
.section-a .checkout {
    display: grid;
    grid-template-columns: auto calc((100% - 24px) / 3);
    grid-template-rows: 32px 32px 106px;
    gap: 12px;
}

.section-a .checkout .input-cash {
    padding: 6px;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    line-height: 19px;
}

.section-a .checkout .input-cash::placeholder {
    color: #BDBDBD;
    font-size: 13px;
    line-height: 19px;
}

.section-a .checkout .btn-get {
    background-color: var(--point-color);
    color: #fff;
}
/* section-c */
.section-c {
    display: flex;
    flex-direction: column;
}
.section-c-title {
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 13px;
}

.section-c .vm-item-ul {
    /* height: 364px; */
    flex-grow: 1;
}

.section-c .total-price {
    font-size: 12px;
    line-height: 17px;
    text-align: right;
    margin-top: 8px;
}
/* 반응형 */
@media (max-width: 764px) {
    body {
        background-color: #fff;
    }

    main {
        grid-template-areas:
            "a"
            "b"
            "c";
        grid-template-rows: 545px 50px 474px;
        grid-template-columns: 1fr;
        gap: 0;
    }

    .wrapper {
        width: auto;
        min-width: 360px;
        margin: 0;
    }
}