/* layout */
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main {
    display: grid;
    grid-template-areas:
        "a b"
        "a c";
}

.section-a {
    grid-area: a;
    background-color: gold;
}

.section-b {
    grid-area: b;
    background-color: salmon;
}

.section-c {
    grid-area: c;
    background-color: seagreen;
}