:root {
--main-color: #F2E9D8;
--sub-color: #D97652;
}

/* reset */
li,
ul {
list-style: none;
}

li,
ul,
p,
h1,
h2,
body {
margin: 0;
padding: 0;
}
a {
text-decoration: none;
color: inherit;
}

img {
vertical-align: top;
width: 100%;
}

/* common */
.l_wrapper {
    max-width: calc(1280px + 64px);
    margin: 0 auto;
padding: 0 32px;
    box-sizing: border-box;
}

.btn {
padding: 15px 30px;
border: none;
    border-radius: 40px;
    background-color: var(--sub-color);
    color: #fff;
    font-weight: 700;
    /* 16 14 */
    font-size: 16px;
}

.logo {
width: 130px;
}

/* header */
header {
width: 100%;
height: 102px;
position: fixed;
background-color: var(--main-color);
z-index: 10;
}

header .l_wrapper {
display: flex;
height: 100%;
align-items: center;
}

header .menu {
margin-left: auto;
}
.menu ul {
display: flex;
gap: 10px;
    margin-right: 57px;
}

.menu li a {
padding: 10px;
}

/* main */
main {
display: flex;
flex-direction: column;
}

/* section 1 */
.section1 {
padding-top: 102px;
max-height: 900px;
background-color: var(--main-color);
    overflow: hidden;
display: flex;
    /* box-sizing: border-box; */
}

.section1 .l_wrapper,
.section2 .l_wrapper {
    width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
/* box-sizing: border-box; */
}

.section1-content .title {
font-weight: 700;
/* 48 24 */
    font-size: 48px;
max-width: 673px;
}

.section1-content .desc,
.section2-content .desc,
.section3-content .desc {
font-weight: 400;
/* 16 14 */
    font-size: 16px;
}

.section1-content .desc {
margin: 44px 0 42px;
}

.section1-img {
    transform: translateY(124px);
    min-width: 197px;
}

.section1-img img {
    width: 100%;
    object-fit: cover;
}
/* section 2 */
.section2 {
/* 40 0 */
margin: 80px 0;
}
.section2 .l_wrapper {
    gap: 110px;
}

.section2-img img,
.section3-img-group img {
box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.25);
border-radius: 30px;
}

.section2-img {
    min-width: 326px;
}

.section2-content {
    max-width: 510px;
}

.section2-content .title {
font-weight: 700;
/* 36 24 */
    font-size: 36px;
    /* 41 20 */
    margin-bottom: 40px;
}


/* section 3 */
.section3 {
margin: 40px 0 200px;
}

.section3 .l_wrapper {
/* 20px */
display: flex;
    flex-direction: column;
align-items: center;
}

.section3-content .title {
font-weight: 700;
/*  */
    font-size: 48px;
    color: var(--sub-color);
    margin-bottom: 40px;
text-align: center;
}

.section3-content .desc {
text-align: center;
}

.section3-content .desc strong {
color: var(--sub-color);
}

.section3-img-group {
    /*  */
    margin: 90px 0;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: nowrap;
}

.section3-content-more p {
    float: left;
}

.section3-content-more button {
    float: right;
    margin-left: 120px;
}

/* section 4 */
/* .section4 {
    /* position: relative; */
/* height: 340px; */
/* background: url(./img/cat_footer.png) no-repeat 0 35%/cover;
margin-top: 170px;
} */

/* .section4::before {
content: '';
display: block;
width: 100%;
height: 340px;
position: absolute;
top: 50%;
left: 0;
background: url(./img/cat_footer.png) no-repeat 0 35% /cover;
z-index: -1;
}*/

.article {
    /* width: 100%; */
    border-radius: 18px;
    background-color: #263140;
    /* 36 32  */
    padding: 50px 58px;
    color: #fff;
    display: flex;
flex-wrap: wrap;
justify-content: space-between;
}

.article-content .title {
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 20px;
}

.article-content .desc {
    /* font-weight: 400; */
    font-size: 14px;
    color: #F2E9D8;
}

.article-form {
    float: right;
    /* 530 262 */
    max-width: 530px;
}

.inp-email {
width: 100%;
    height: 60px;
}

/* footer */
footer {
position: relative;
    padding-top: calc(340px - 106px);
}

footer::before {
    content: '';
    display: block;
    width: 100%;
    height: 340px;
    position: absolute;
    top: -106px;
    left: 0;
    background: url(./img/cat_footer.png) no-repeat 0 35% /cover;
    z-index: -1;
}

/* media */
@media (max-width: 960px) {
    .section1-img {
        width: 197px;
        aspect-ratio: 415/890;
        object-fit: cover;
        transform: translateY(54px);
    }
}


@media (max-width: 680px) {
    main .l_wrapper {
        flex-direction: column;
}

[class$=content] {
    text-align: center;
}
}