:root {
    --max: 192;
    --max-width: 1920px;
}

/* reset */
html,
body {
    font-size: 10px;
    margin: 0;
    padding: 0;
}

li,
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #fff;
}

h1,
p {
    padding: 0;
    margin: 0;
}



/* layout */
.wrapper {
    width: calc(100% - 60px);
    display: flex;
    justify-content: center;

    margin: 240px auto;
    gap: 90px;
}

.title-container {
    max-width: 612px;
    display: flex;
    flex-direction: column;
}



/* components */
.title-container strong {
    font-weight: 700;
}

.title-container .title {
    display: block;
    max-width: 612px;
    font-size: 70px;
    font-weight: 400;

    margin-bottom: 20px;
}

.title-container .desc {
    width: 343px;
    font-size: 20px;
    font-weight: 400;
    color: #47494D;
}

.list-item {
    border-radius: 20px;
    overflow: hidden;
    color: #fff;

    position: relative;

    margin-bottom: 20px;
}

.list-item img {
    width: 100%;
    vertical-align: top;
}

.list-item .topic {
    font-size: 30px;
    font-weight: 700;

    position: absolute;
    top: 12%;
    left: 8%;

}

.list-item a {
    font-size: 16px;
    font-weight: 400;
    position: absolute;
    right: 8%;
    bottom: 10%;
    padding-right: 1.2em;
    background: url(../img/arrow-icon.svg) no-repeat right center / 0.6em;
}

/* 가상요소로 화살표 구현하기 */
/* .list-item a::before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    box-sizing: border-box;

    position: absolute;
    top: 50%;
    right: 0;

    transform: translateY(-50%) rotate(45deg);
} */



/* 미디어쿼리 */
@media (max-width: 768px) {
    .wrapper {
        flex-direction: column;
        margin: 100px auto;
        gap: 60px;
    }

    .title-container .desc {
        font-size: 18px;
    }

    .list-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .list-item {
        margin: 0;
    }

    .list-item .topic {
        font-size: 24px;
    }

    .list-item a {
        font-size: 20px;
    }
}

@media (max-width: 390px) {
    .title-container .title {
        font-size: 36px;
    }

    .title-container .desc {
        font-size: 14px;
    }

    .list-container {
        grid-template-columns: 1fr;
    }

    .list-item .topic {
        font-size: 20px;
    }

    .list-item a {
        font-size: 18px;
    }
}