.bubble {
    width: 200px;
    height: 150px;
    border-radius: 50%;
    background-color: #fff;

    position: absolute;
    top: 30%;
    left: 12%;
    transform: translate(-12%, -30%);

    padding-right: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.4em;
}

.bubble::before {
    content: '안냐세요.';
}

.bubble:hover::before {
    content: '수달입니다만';
    display: inline-block;
    white-space: pre;
}

.bubble::after {
    content: '';
    display: block;
    border: 20px solid transparent;
    border-right-color: #fff;
    transform: rotate(-30deg);

    position: absolute;
    right: 0;
    bottom: 10px;
}