/* layout */
.container {
    display: flex;
}

.container .section-text {
    /* ?? */
    flex-grow: 1;
}

@media (min-width: 1200px) {
    .container .container2 {
        flex-basis: 486px;
        flex-shrink: 0;
    }
}

@media (max-width: 1199px) {
    .container {
        flex-direction: column;
        /* 변동값 60 40 */
        gap: 60px;
    }
}

.container2 {
    display: flex;
    flex-direction: column;
    /* 변동값 20 20 14 */
    gap: 20px;
}

/* row일때(2열일때만) 이미지 꽉차게 적용되게  min-width도 추가 */
@media (min-width: 769px) and (max-width: 1200px) {
    .container2 {
        flex-direction: row;
    }

    .container2 .link1,
    .container2 .link2 {
        /* 오 .. 이미지 꽉 차게 */
        /* 비율이 1 1만큼 부모 꽉차게 늘어나라, 자식의 크기 지정 안해야 부모전체 공간 분할!!!, 자식 크기 가지면 그거 빼고 나머지 여백에서 공평하게 분할  */
        flex-grow: 1;
        /* 내 크기 안주면서 grow가 똑같이 나눠지게 했음 */
        flex-basis: 0;
    }
}

@media (max-width: 768px) {
    .container2 {
        /* 변동값 20 20 14 */
        gap: 20px;
    }
}

/* style */
.container {
    width: 1200px;
    max-width: calc(100% - 60px);
    min-width: 400px;
}

.section-text h1 {
    color: #121314;
    font-weight: normal;

    /* 변동값 70 70 36 */
    font-size: 70px;
}

.section-text p {
    color: #47494d;

    /* 변동값 20 18 14 */
    font-size: 20px;

    /* 변동값 20 20 14 */
    margin-top: 20px;
}

.link1,
.link2 {
    border-radius: 20px;
    color: white;
    /* 변동값
    40px 30px 30px 40px
    30px 20px 20px 30px
    30px 20px 20px 30px
     */
    padding: 40px 30px 30px 40px;
    /* 이미지 비율 유지 */
    aspect-ratio: 486 / 280;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.link1 {
    background: url(./img/it-video.svg) no-repeat 0 0 /cover;
}

.link2 {
    background: url(./img/it-book.svg) no-repeat 0 0 /cover;
}

.link1 strong,
.link2 strong {
    /* 변동값 30 24 20 */
    font-size: 30px;
}

.link1 span,
.link2 span {
    align-self: flex-end;
}

/* 가상 요소를 사용한 방법 */
.go-after::after {
    content: '';
    display: inline-block;
    width: 0.6em;
    height: 0.6em;
    border: 1px solid #fff;
    border-width: 1.5px 1.5px 0 0;
    transform: rotate(45deg);
    margin-left: 0.2em;
}

/* 배경을 사용한 방법 */
.go-bg {
    padding-right: 1.2em;
    background: url(./img/arrow.svg) no-repeat 100% center / 1.2em;
}


/* style 미디어쿼리 */
@media (max-width: 1200px) {
    .section-text p {
        font-size: 18px;
    }

    .link1,
    .link2 {
        padding: 30px 20px 20px 30px;
    }

    .link1 strong,
    .link2 strong {
        font-size: 24px;
    }
}

@media (max-width: 768px) {
    .section-text h1 {
        font-size: 36px;
    }

    .section-text p {
        font-size: 14px;
        margin-top: 14px;
    }

    .link1 strong,
    .link2 strong {
        font-size: 20px;
    }
}