<!DOCTYPE html>
<html>

<head>

</head>

<body>
    <!-- <% if(true) { %>
        <div>ejs working</div>
        <% } else { %>
            <div>ejs not working</div>
            <% } %> -->

    <%= data %>

        <% include ./layout/navbar.ejs %>

</body>

</html>